*.o
linux/custom.pal.example
linux/gt2fork
linux/ins2snd2
linux/mod2sng
linux/sngspli2
linux/ss2stereo
win32/custom.pal.example
win32/gt2fork.cfg
win32/gt2fork.exe
win32/ins2snd2.exe
win32/mod2sng.exe
win32/sngspli2.exe
win32/ss2stereo.exe
win64/custom.pal.example
win64/gt2fork.cfg
win64/gt2fork.exe
win64/ins2snd2.exe
win64/mod2sng.exe
win64/sngspli2.exe
win64/ss2stereo.exe
